
# Ігноруємо системну папку Visual Studio (твоя помилка тут)
.vs/

# Ігноруємо скомпільовані файли та папки збірки
x64/
x86/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
*.user
*.opendb
*.db

# Ігноруємо налаштування VS Code (якщо є)
.vscode/
